In [12]:
import sqlite3
from sqlite3 import Error

import pandas as pd

In [10]:
con = sqlite3.connect('sql-murder-mystery.db')

In [21]:
cursor = con.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('crime_scene_report',), ('drivers_license',), ('person',), ('facebook_event_checkin',), ('interview',), ('get_fit_now_member',), ('get_fit_now_check_in',), ('income',), ('solution',)]

In [41]:
query = "SELECT * from crime_scene_report WHERE date = 20180115 AND type = 'murder' ;"
murders = pd.read_sql(query,con)
murders

,date,type,description,city
0,20180115,murder,Life? Dont talk to me about life.,Albany
1,20180115,murder,"Mama, I killed a man, put a gun against his he...",Reno
2,20180115,murder,Security footage shows that there were 2 witne...,SQL City

In [33]:
query = "SELECT * from 'facebook_event_checkin' WHERE date = 20180115 ;"
person = pd.read_sql(query,con)
person

,person_id,event_id,event_name,date
0,56269,1753,"""I just need enough to tide me over until I ne...",20180115
1,12272,2831,Kinkler's Second Law:\n,20180115
2,94218,1200,If a listener nods his head when you're explai...,20180115
3,73091,104,"""Diet.""\n",20180115
4,20227,2513,"It seems like the less a statesman amounts to,...",20180115
5,29596,6072,-- Mark Twain\n,20180115
6,43451,5155,eat.\n,20180115
7,71108,1056,effort to teach them good manners.\n,20180115
8,39959,2513,Democracy is a form of government that substit...,20180115
9,38423,8548,pedestrians.\n,20180115
10,60433,3204,handle.\n,20180115
11,78037,9133,doing.\n,20180115
12,11376,9288,"make the rubble bounce""\n",20180115
13,23573,8777,There once was a girl named Irene\n,20180115
14,23523,3053,A: Three. One to screw in the lightbulb and t...,20180115
15,72518,2210,It's not that I'm afraid to die. I just don't...,20180115
16,88458,4290,First Rule of History:\n,20180115
17,82809,3999,"said, ""Life is like a bowl of sour cream.""\n",20180115
18,91104,9335,Children are natural mimic who act like their ...,20180115
19,49525,6377,it.\n,20180115
20,85823,8012,-- Bruce Leverett\n,20180115
21,83030,3209,"Real Programmers don't play tennis, or any oth...",20180115
22,28435,8193,Why did the Roman Empire collapse? What is th...,20180115
23,23264,2731,"That made it, paired by dot;\n",20180115
24,35366,4387,"analyzed, and replaced with new weaknesses.\n",20180115
25,32037,6084,The mouse dissolved\n,20180115
26,85846,8360,-- Mickey Mouse\n,20180115
27,34256,3016,"SPELL quiche. They eat Twinkies, and Szechwan...",20180115
28,29554,3952,stupidity.\n,20180115
29,89704,9956,a cynic's eyes to improve his vision.\n,20180115
30,77714,8657,Whenever the literary German dives into a sent...,20180115
31,40276,7364,"hour!""\n",20180115
32,58603,9624,live.\n,20180115
33,11971,737,-- John Barrymore's dying words\n,20180115
34,74795,1878,You worry too much about your job. Stop it. ...,20180115
35,57237,8650,"usable, and it works, and if it breaks they'll...",20180115
36,72961,2918,Keep America beautiful. Swallow your beer can...,20180115
37,72961,7822,it.\n,20180115
38,46815,3378,computer science languages. Strong typing is ...,20180115
39,50174,6517,revitalize the corner saloon.\n,20180115
40,90890,1600,-- Don Quinn\n,20180115
41,62131,7349,"""Diet.""\n",20180115
42,53716,7684,"immune to bullets""\n",20180115
43,31705,7297,Don't cook tonight -- starve a rat today!\n,20180115
44,14887,4719,The Funky Grooves Tour,20180115
45,16371,4719,The Funky Grooves Tour,20180115
46,67318,4719,The Funky Grooves Tour,20180115

In [43]:
query = "SELECT * from interview ;"
person = pd.read_sql(query,con)
person

      person_id                                         transcript
0         28508                ‘I deny it!’ said the March Hare.\n
1         63713                                                 \n
2         86208      way, and the whole party swam to the shore.\n
3         35267  lessons in here? Why, there’s hardly room for ...
4         33856                                                 \n
...         ...                                                ...
4986      37357  Alice did not wish to offend the Dormouse agai...
4987      10206  time,’ she said, ‘than waste it in asking ridd...
4988      14887  I heard a gunshot and then saw a man run out. ...
4989      16371  I saw the murder happen, and I recognized the ...
4990      67318  I was hired by a woman with a lot of money. I ...

[4991 rows x 2 columns]